body {
    background: #0E0021;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

/* PROFILE */
.profile {
    padding-top: 100px;
}

.profile .profile__photo {
    width: 350px;
    border-radius: 50%;
    border: 2.5px solid #EB2F06;
}

.profile .profile__name {
    font-size: 5rem;
    font-weight: 600;
}

.profile .profile__course-university {
    font-size: 2rem;
}

.profile .profile__course-university__link,
.profile .profile__work__link {
    color: #EB2F06;
    transition: all .3s ease;
}

.profile .profile__course-university__link:hover,
.profile .profile__work__link:hover {
    color: #fff;
    text-decoration: none;
}

.profile .profile__description {
    font-size: 2rem;
    font-weight: lighter;
}

/* MIDIA */
.midia .midia__title {
    font-size: 2rem;
}

.midia .midia__list .midia__icons + .midia__icons {
    padding-left: 50px;
}

.midia .midia__list .midia__icons .midia__icons__link {
    color: #EB2F06;
    transition: all .3s ease;
    font-size: 2rem;
}

.midia .midia__list .midia__icons .midia__icons__link:hover {
    color: #fff;
    text-decoration: none;
}

.midia .midia__list .midia__icons .midia__icons__img {
    width: 60px;
    margin-right: 10px;
    padding-right: 5px;
}

/* QUERIES PARA VISUALIZAÇÃO DESKTOP */
@media (min-width: 992px) { 
    .profile .profile__photo {
        max-width: 150px;
    }

    .profile .profile__name {
        font-size: 2.8rem;
    }

    .profile .profile__course-university,
    .profile .profile__work {
        font-size: 1rem;
    }

    .profile .profile__description {
        font-size: 1rem;
        width: 800px;
        margin: 0 auto;
    }

    .midia .midia__title {
        font-size: 1rem;
    }    
    

    .midia .midia__list .midia__icons .midia__icons__link {
        font-size: 1rem;
    }

    .midia .midia__list .midia__icons .midia__icons__img {
        max-width: 30px;
        margin-right: 0;
    }
}