body {
    background: #0E0021;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

/* MAIN */
main {
    margin-top: 100px;
}

main .perfil .foto_perfil {
    max-width: 150px;
    border-radius: 50%;
    border: 2.5px solid #EB2F06;
}

main .perfil h1 {
    font-size: 42px;
    font-weight: 600;
}

main .perfil h2 {
    font-size: 16px;
}

main .perfil span {
    color: #EB2F06;
    transition: all .3s ease;
    cursor: pointer;
}

main .perfil span:hover {
    color: #fff;
}

main .perfil p {
    font-size: 16px;
    font-weight: lighter;
    max-width: 800px;
    margin: 0 auto;
}

main .midia ul li img {
    max-width: 30px;
}

main .midia h2 {
    font-size: 16px;
}

main .midia ul li a {
    color: #EB2F06;
    transition: all .3s ease;
}

main .midia ul li a:hover {
    color: #fff;
    text-decoration: none;
}

main .midia ul li + li {
    padding-left: 30px;
}

main .midia ul li a img {
    padding-right: 5px;
}